<div class="page-container">
    <div class="page-title">
        Welcome to the expression validator!
    </div>
    <!-- <div class="form-container"> -->
    <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Enter an expression</mat-label>
            <input matInput placeholder="Enter an expression" type="string" [formControl]="form.get('expression')" />
        </mat-form-field>
        <mat-error *ngIf="form.get('expression')?.errors?.notValid as error">
            Error! {{ error }}
        </mat-error>
        <!-- </div> -->
    </div>

    <!-- <div class="form-container" *ngIf="resultMsg"> -->
    <div class="form-row">
        <strong> {{ resultMsg }} </strong>
        <!-- </div> -->
    </div>
    <!-- <div class="form-container"> -->
    <div class="row history-button">
        <button mat-raised-button aria-label="History Button" [disabled]="!historicalValues.length"
            (click)="toggleHistory()">
            {{ showHistory ? 'Hide last 5 values': 'Show last 5 values' }}
            <mat-icon> {{ showHistory ? 'hide_image' :'history' }}</mat-icon>
        </button>
        <!-- </div> -->
    </div>
    <!-- <div class="form-container"> -->
    <!-- <div class="form-row"> -->
        <mat-list *ngIf="showHistory">
            <mat-list-item *ngFor="let history of historicalValues;">
                <strong> User input was: </strong> {{history.userInput}}
                <strong> Evaluated value was: </strong> {{history.evaluatedValue}}
            </mat-list-item>
        </mat-list>
    <!-- </div> -->
    <!-- </div> -->
</div>