/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-container {
    padding: 50px 50px;  
}

.page-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 40px !important;
    width:100%
}

.form-row{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.history-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mdc-list-item {
     padding-left: 0px !important;
     padding-right: 0 !important; 
}